@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
   @font-face {
      font-family: 'dana';
      src: url('../assets/fonts/DanaFaNum-Regular.ttf') format('truetype');
   }

   .Toastify__toast {
      direction: rtl !important;
      font-family: dana !important;
   }

   .Toastify__toast-container--top-right {
      right: 0 !important;
   }

   html {
      scroll-behavior: smooth;
   }

   @keyframes shaker {
      0% {
         transform: translateX(0);
      }
      12% {
         transform: translateX(-2px);
      }
      24% {
         transform: translateX(2px);
      }
      36% {
         transform: translateX(-2px);
      }
      48% {
         transform: translateX(2px);
      }
      60% {
         transform: translateX(-2px);
      }
      72% {
         transform: translateX(2px);
      }
      84% {
         transform: translateX(-2px);
      }
      96% {
         transform: translateX(2px);
      }
      100% {
         transform: translateX(0);
      }
   }

   .shaker {
      animation: shaker 0.8s linear;
   }

   @media only screen and (max-width: 900px) {
      * {
         cursor: default !important;
      }
   }

   @media only screen and (min-width: 900px) {
      ::-webkit-scrollbar {
         width: 8px;
         height: 5px;
      }

      ::-webkit-scrollbar-track {
         background: #ffffff;
      }

      ::-webkit-scrollbar-thumb {
         background: #765f8b;
         border-radius: 3px;
      }

      ::-webkit-scrollbar-thumb:hover {
         background: #b9a0d2;
      }
   }
}
