@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
   @font-face {
      font-family: 'dana';
      src: url('../assets/fonts/DanaFaNum-Regular.ttf') format('truetype');
   }

   @font-face {
      font-family: 'poppins';
      src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
   }

   @font-face {
      font-family: 'rubik';
      src: url('../assets/fonts/Rubik-Regular.ttf') format('truetype');
   }

   .Toastify__toast-container--top-right {
      right: 0 !important;
   }

   html {
      scroll-behavior: smooth;
   }

   @media only screen and (max-width: 900px) {
      * {
         cursor: default !important;
      }
   }

   @media only screen and (min-width: 900px) {
      ::-webkit-scrollbar {
         width: 8px;
         height: 5px;
      }

      ::-webkit-scrollbar-track {
         background: #ffffff;
      }

      ::-webkit-scrollbar-thumb {
         background: #d14f4d;
         border-radius: 3px;
      }

      ::-webkit-scrollbar-thumb:hover {
         background: #df8482;
      }
   }
}
